p {
  color: #516369;
}
.app {

}
.header {
  text-align: center;
}
.title {
  color: #3eb4cd;
}
.subtitle {

}
.step-container {
  text-align: center;
}
.step {
  float: left;
  margin: 1.5%;
  width: 30%;
}
.step-input {
  padding: 7px 0;
  border-radius: 3px;
  width: 100%;
  margin: auto;
  border: 0;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.list-item {
  background-color: white;
  border: 1px #bbb solid;
  padding: 7px 0;
}
.list-item:hover {
  background-color: #3eb4cd;
  color: white;
  cursor: pointer;
}
.checkbox-item {
  background-color: white;
  border: 1px #bbb solid;
  padding: 7px 5px;
  text-align: left;
}
.button {
  background-color: #006666;
  color: white;
  padding: 7px 15px;
  border-radius: 4px;
  border: 0px;
}
.flag-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}
.flag {
  font-size: 2em;
  margin: 5px 10px;
}
.input-container {
  width: 70%;
  margin: auto;
}